<!DOCTYPE html>
<html>
<head>
  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet"  href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
  <title>Adam Gallant</title>
</head>
<body>
  <section class="site_header">
    <div class="logo_and_name">
      <img class="personal_logo" src="images/120px-black-g-logo.png" alt="My personal logo.">
      <h1 class="name">Adam Gallant</h1>
    </div>
    <hr>
    <h2 class="tagline">developer extrodinaire.</h2>
  </section>
  <section class="main_site_picture">
    <h4>Bruce Peninsula National Park</h4>
    <img src="images/BrucePeninsulaNationalPark.jpg" alt="A beautiful picture of Bruce Peninsula National Park.">
  </section>
  <section class="introduction_container">
    <h4>My introduction</h4>
    <p class="introduction">My name is Adam and I like to create, check out my creations.</p>
  </section>
  <section class="project_container">
    <h4>Projects and Profiles</h4>
    <article class="project_card">
      <a href="https://gallant-dev.com/neighbourhood/">
        <img class="card_image" src="images/icons8-google-maps-200.png" alt="Google Maps Icon">
        <h3>My Front End Final Project For Udacity.</h3>
      </a>
    </article>
    <article class="project_card">
      <a href="https://gallant-dev.com/catalog/">
        <img class="card_image" src="images/catalog-icon.png" alt="Back End Project Icon">
        <h3>My Back End Final Project For Udacity.</h3>
      </a>
    </article>
    <article class="project_card">
      <a href="https://github.com/gallant-dev">
        <img class="card_image" src="images/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="GitHub-Mark-120px-plus">
        <h3>My GitHub.</h3>
      </a>
    </article>
    <article class="project_card">
      <a href="https://huntingtongameworks.com/">
        <img class="card_image" src="images/huntingtongameworkslogo.png" alt="Huntington Gameworks Logo">
        <h3>My game making website.</h3>
      </a>
    </article>
    <article class="project_card">
      <a href="https://connect.unity.com/u/58486ef409091500192e57a0">
        <img class="card_image" src="images/unity-master-black.png" alt="Unity Logo">
        <h3>My Connect.</h3>
      </a>
    </article>
  </section>
  <footer>Adam Gallant 2018</footer>
</body>
</html>
